<h1>*ngFor</h1>
<input type="text" required [(ngModel)] ="newName">
<button *ngIf="newName !== '' "  (click)="addName()">Add Name</button>

<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }} {{ name }}
    <button (click)="deleteName(i)">Delete Name</button>
  </li>
</ul>


<hr>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)] ="person.name">
<p *ngIf="person.name == 'Uriel'; else noName"> Soy Uriel  </p>
<!-- <p *ngIf="person.name != 'Uriel' && person.age === 18; else noName"> Soy {{person.name}}  </p> -->
<ng-template #noName>
  <p> Soy Otra Persona</p>
</ng-template>


<hr>
<h1>ngModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required minlength="10" #nameInput="ngModel" [(ngModel)] ="person.name">
<p>Valid: {{nameInput.valid}} </p>
<br>
<p>Edad {{ person.age }}</p>
<input type="number" required #ageInput="ngModel" min="10" max="18" [(ngModel)]="person.age">
<p>Valid: {{ageInput.valid}} </p>

<hr>
<h1>Eventos</h1>
<button [disabled]=btnDisabled>Enviar</button>
<button (click)="toogleButton()">ToogleButton</button>

<p>Edad {{ person.age }} </p>
<button (click)="increaseAge()">Age ++</button>

<hr>
<h1>Propiedades</h1>
<!-- <button disabled="true"></button> -->
<button [disabled]=btnDisabled>Enviar</button>
<!-- <input type="text" value="Nicolas"> -->
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="">

<div class="box" (scroll)="onScroll($event)">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore totam minus dolores pariatur quos nobis excepturi eum aspernatur quod aliquid ullam quasi aliquam ipsam animi autem deserunt, nisi unde.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore totam minus dolores pariatur quos nobis excepturi eum aspernatur quod aliquid ullam quasi aliquam ipsam animi autem deserunt, nisi unde.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore totam minus dolores pariatur quos nobis excepturi eum aspernatur quod aliquid ullam quasi aliquam ipsam animi autem deserunt, nisi unde.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore totam minus dolores pariatur quos nobis excepturi eum aspernatur quod aliquid ullam quasi aliquam ipsam animi autem deserunt, nisi unde.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore totam minus dolores pariatur quos nobis excepturi eum aspernatur quod aliquid ullam quasi aliquam ipsam animi autem deserunt, nisi unde.
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Nombre {{ person.name }}</p>

<hr>
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }} </h2>
<h2>{{ 'Hola Mundo'.split(' ') }} </h2>
<p>3 + 3 = {{ 3 + 3 }} </p>
<h3>Hola, soy {{ name }} y tengo {{ age }} </h3>
<img src={{img}} alt="image">
